.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 15px;
  padding: 10px;
  width: 250px;
  height: 300px;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: white;
  font-size: 26px;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}